<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>Kathy Mattea - About page</title>
  </head>
  <body>
    <header>About Kathy Mattea</header>
    <nav>
      <a href="/">Kathy Mattea</a>
      <a href="/about">About</a>
      <a href="/disco">Discography</a>
      <a href="/tour">Tour</a>
    </nav>
    <h1>About Kathy Mattea</h1>

    <footer>
      <small>(c)2014 </small>
</html>
