<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>Kathy Mattea</title>
  </head>
  <body>
    <header>Kathy Mattea</header>
    <nav>
      <a href="/">Kathy Mattea</a>
      <a href="/about">About</a>
      <a href="/disco">Discography</a>
      <a href="/tour">Tour</a>
    </nav>
    <h1>Kathy Mattea</h1>

    <img src="/images/km4.jpg">
    <img src="/images/km2.jpg">
    <footer>
      <small>(c)2014 </small>
</html>
