<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>Kathy Mattea - Tour page</title>
  </head>
  <body>
    <header>Kathy Mattea - Tour</header>
    <nav>
      <a href="/">Kathy Mattea</a>
      <a href="/about">About</a>
      <a href="/disco">Discography</a>
      <a href="/tour">Tour</a>
    </nav>
    <h1>Kathy Mattea - Tour</h1>
TOUR DATES
2014

JULY
17  - Rockport, MA  - Shalin Liu Performane Center - link 
18 - Dover Foxcroft, - ME Center Theatre - link
19 - Boothbay Harbor, ME  - Opera House - link
20 - Norfolk, CT  - Infinity Music Hall - link
27 through AUGUST 2 - Asheville NC (Special Presentation) Swannanoa Gathering - link
AUGUST
29  - Nashville, TN - Grand Ol’ Opry - link
30  - Mountain View, AR - Ozark Folk Center - link

SEPTEMBER
11  - Blacksburg, VA Moss - Arts Center (Special Presentation) "My Coal Journey" - link
12  - Blacksburg, VA  - Moss Arts Center - link
    <footer>
      <small>(c)2014 </small>
</html>
